<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>
<div *ngIf="cursos.length == 0">
  Não existem cursos para serem exibidos.
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem exibidos.
</div>

<button (click)="onMostrarCursos()">
  Mostrar ou esconder cursos
</button>

<h5>Removendo o * e usando template</h5>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui.</div>
</ng-template>

<!-- Apenas executa no momento que carrega a pagina-->
<div ng-template="ngIf mostrarCursos">
  Lista de cursos aqui.2
</div>